{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      <li>{# NOTE ADDITION OF root_event.id below #}
        <a href="add/?event={{ root_event.id }}{% if is_popup %}&_popup=1{% endif %}" class="addlink">
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
      </li>
    </ul>
  {% endif %}

  {% if root_event %}
    <p>{% blocktrans %}Showing only occurrences of <a href="{{ root_event_change_url }}">{{ root_event }}</a> and its descendants{% endblocktrans %}</p>
  {% endif %}
{% endblock %}





