<div class="calendarlist">

	<!-- root element for scrollable -->
	<div class="scrollable">	 
		<!-- root element for the items -->
		<div class="items">
			{% for calendar in calendars %}
				<div data="{{ calendar.weeks.0.6.date|date:"Y-m" }}">{# page #}
					{% with calendar.weeks as weeks %}
						{% include "eventtools/calendar/calendar.html" %}
					{% endwith %}
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- "previous page" action -->
	<a class="prev browse left">&lt;</a>
	<!-- "next page" action -->
	<a class="next browse right">&gt;</a>
</div>
