table.calendar tr {
	height: 30px;
	line-height: 30px;
}
table.calendar td {
	text-align: center;
	width: 30px;
	height: 30px;
}

table.calendar td span {
	width: 30px;
	height: 30px;
	display: block;
	vertical-align: center;
}

table.calendar td a {
	display: block;
	width: 30px;
	height: 30px;
}

table.calendar .today {
	border: 1px solid #888;
}

table.calendar .clicked {
	background-color: #607890 !important;
	color: white;
}


table.calendar .saturday,
table.calendar .sunday {
	background-color: #eee;
}

table.calendar .highlight {
	background-color: #ccc;
}

table.calendar .selected {
	font-weight: bold;
}

table.calendar .last_month,
table.calendar .next_month {
	opacity: 0.3;
}



.calendarlist table.calendar .last_month span,
.calendarlist table.calendar .next_month span {
	visibility: hidden;
}


/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.calendarlist {
	width: 210px;
}

.calendarlist .scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 210px;
	height:240px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.calendarlist .scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.calendarlist .items div {
	float:left;
	margin-right: 10px;
}