<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head>
		<title>{% block title %}{% endblock %}</title> 
		{% block extrahead %}{% endblock %}
	
		{% block style %}
			<link rel="stylesheet" href="{{ STATIC_URL }}eventtools/css/events.css">
		{% endblock style %}

				
	</head>
	
	<body> 
		{% block content %}
		{% endblock %}
		{% block scripts %}
			{# calendar scrolling. For projects already include jQuery, use http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js #}
			<script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
			{# shows session times when you click #}
			<script src="{{ STATIC_URL }}eventtools/js/events.js"></script>
		{% endblock scripts %}
	</body> 
</html>