{% extends "eventtools/_base.html" %}
{% load calendar %}

{% block title %}{{ event.title }} :: {{ block.super }}{% endblock %}

{% block content %}

	<h1>{{ event.title }}</h1>
	{% if perms.events.can_change_event %}<a href="{% url admin:events_event_change event.pk %}">edit</a>{% endif %}

	<p class="season">When: {{ event.sessions|linebreaksbr }}<p>
	
	
	{% with event.get_descendants as descendants %}
		{% if descendants %}
		<h2>{{ event.title }} includes</h2>
		<ul class="children">
			{% for event in descendants %}
			 <li>{% include "eventtools/_event_in_list.html" %}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}



	{% nav_calendars event.complete_occurrences %}

	{% with event.complete_occurrences.all as occurrences %}
		{% if occurrences %}
		<div id="sessions">
			{% regroup occurrences by start_date as day_list %}

			<h2>Sessions</h2>
			<dl class="sessions">
				{% for day in day_list %}
					<dt data="{{ day.grouper|date:"Y-m-d" }}" class="hide">{{ day.grouper|date:"l, j F Y" }}</dt>
					{% for o in day.list %}
						<dd data="{{ day.grouper|date:"Y-m-d" }}" class="hide">{{ o.html_time_description }}{% if o.event != event %}: <a href="{{ o.event.get_absolute_url }}">{{ o.event }}</a>{% endif %}</dd>
					{% endfor %}
				{% endfor %}
			</dl>
		</div>
		{% endif %}
	{% endwith %}

{% endblock %}