{% extends "eventtools/_base.html" %}
{% load calendar %}

{% block title %}{{ event.title }} :: {{ block.super }}{% endblock %}

{% block content %}

	{% with listed_under=event.listed_under %}
		<h1>{{ event.title }}</h1>
		{% if perms.events.can_change_event %}<p><a href="{% url admin:events_event_change event.pk %}">edit</a></p>{% endif %}

		{% if occurrence %}
			<p class="status">{{ occurrence.start_date|date:"l, j F Y" }}, {{ occurrence.html_time_description }}{% if occurrence.status_message %} ({{ occurrence.status_message }}){% endif %} - <a href="{{ occurrence.event.get_absolute_url }}">view all sessions</a> </p>
		{% else %}
			{% if listed_under.unavailable_status_message %}
				<p class="status">
					{{ listed_under.unavailable_status_message }}
				</p>
			{% endif %}
		{% endif %}

		{% if listed_under != event %}
			<p><cite>{{ event.title }}</cite> {% if event.is_finished %}was{% else %}is{% endif %} one of the <a href="{{ listed_under.get_absolute_url }}">{{ listed_under.title }}</a> sessions.</p>
		{% endif %}

		{% if event.sessions %}<p class="season">When: {{ event.sessions|linebreaksbr }}<p>{% endif %}

		<h2>{% if occurrence %}Other sessions{% else %}Sessions{% endif %}</h2>


		{% nav_calendars event.occurrences_in_listing occurrence %}

		{% with event.occurrences_in_listing.all as occurrences %}
			{% if occurrences %}
			<div id="sessions">
				{% include "eventtools/_occurrences_in_event.html" %}
			</div>
			{% endif %}
		{% endwith %}

		{# Variation sessions #}
		{% with vo=event.variation_occurrences.available.forthcoming %}
			{% if vo.count %}
				<h4>Special sessions</h4>
				{% include "eventtools/_occurrences_in_event.html" with occurrences=vo %}
			{% endif %}
		{% endwith %}


		{# Out-of-the-ordinary statuses #}

		{% comment %}
			IF the list of unavailable occurrences is longer than the list of available occurrences.
				if there are any fully booked occurrences, we say it's booking fast, and
					list available occurrences, if any
					list cancelled occurrences, if any
				else, we say the following are STILL available:
					list available occurrences, if any
			ELSE
				We want to display a list of unavailable occurrences, if any.
		{% endcomment %}

		{% with avail_count=event.available_occurrences.forthcoming.count unavail_count=event.unavailable_occurrences.forthcoming.count %}
			{% if unavail_count > avail_count %}
				{% if event.fully_booked_occurrences.forthcoming.count %}
					{% if avail_count %}
						<h4><cite>{{ event.title }}</cite> is booking fast - the following {{ avail_count|pluralize:"session is, sessions are" }} still available</h4>
						{% include "eventtools/_occurrences_in_event.html" with occurrences=event.available_occurrences.forthcoming %}
					{% endif %}
					{% with co=event.cancelled_occurrences.forthcoming %}
						{% if co.count %}
							<h4>Note: the following {{ co.count|pluralize:"session is, sessions are" }} cancelled</h4>
							{% include "eventtools/_occurrences_in_event.html" with occurrences=co %}
						{% endif %}
					{% endwith %}
				{% else %}
					{% if avail_count %}
						<h4>The following {{ avail_count|pluralize:"session is, sessions are" }} still available</h4>
						{% include "eventtools/_occurrences_in_event.html" with occurrences=event.available_occurrences.forthcoming %}
					{% endif %}
				{% endif %}
			{% else %}
				{% if unavail_count %}
					<h4>The following {{ unavail_count|pluralize:"session is, sessions are" }} not available</h4>
					{% include "eventtools/_occurrences_in_event.html" with occurrences=event.unavailable_occurrences.forthcoming %}
				{% endif %}
			{% endif %}
		{% endwith %}

	{% endwith %}
{% endblock %}