{% extends "eventtools/_base.html" %}
{% load calendar %}

{% block extrahead %}
	<link rel="profile" href="http://microformats.org/profile/hcalendar">
{% endblock %}

{% block content %}

{% comment %}
	<p><a href="events.ics?{{ request.GET.urlencode }}">download .ics file</a></p>
	<p><a href="webcal://{{request.get_host }}{{ request.get_full_path }}events.ics?{{ request.GET.urlencode }}">add to iCal/Outlook</a></p>
	<p><a href="http://www.google.com/calendar/render?cid=http%3A%2F%2F{{request.get_host|urlencode }}{{ request.get_full_path|urlencode }}events.ics%3F{{ request.GET.urlencode }}">add to Google calendar</a></p>

{% endcomment %}

	{% regroup occurrence_page by start_date as day_list %}
	
	{% nav_calendar selected_start occurrence_qs %}{# shows a global nav calendar where dates in occurrence_page are highligted #}
	
	<ul class="days">
		{% for day in day_list %}
			<li class="day">
				<h2>{{ day.grouper|date:"l, j F Y" }}</h2>
				<ul class="occurrences">
					{% for occurrence in day.list %}
						<li class="event">
							{% include "eventtools/_occurrence_in_list.html" %}
						</li>
					{% endfor %}
				</ul>
			</li>
		{% empty %}
		<li>Sorry, no events were found</li>
		{% endfor %}
	</ul>

	{% if occurrence_page %}
	<div class="pagination">
		{% block pagination %}
			{% include 'eventtools/_pagination.html' %}
		{% endblock pagination %}
	</div>
	{% endif %}

{% endblock %}